<div th:fragment="card_manga (manga)" class="card" style="width: 18rem; height: 100%;" xmlns:th="http://www.w3.org/1999/xhtml">
  <img th:src="${manga.image}" class="img-fluid">
  <div class="card-body d-flex flex-column justify-content-around">
    <h5 class="card-title" th:text="${manga.title}"></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a th:href="${'/chapter/' + manga.link}" class="btn btn-primary">Ler agora</a>
  </div>
</div>