<div th:fragment="grid_chapter (chapters)" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="mx-auto container row g-5 py-5">
    <div class="col-3" th:each="chapter: ${chapters}">
      <div th:text="${chapter.title}"></div>
    </div>
  </div>
</div>