<div th:fragment="grid_manga (mangas)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mx-auto container row g-5 py-5">
        <div class="col-3" th:each="manga: ${mangas}">
            <div th:replace="~{fragments/card_manga :: card_manga(${manga})}"></div>
        </div>
    </div>
</div>