<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="layout (content)">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    <title th:text="${title}"></title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:include="${content}"></div>
</body>
<footer>
    <script src="/webjars/jquery/3.6.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</footer>
</html>
